
		/* 图片大盒子 */
		.bgbox{
			width: 100vw;
			height: 100vh;
			
			position:fixed;	
			top: 0;
		}
			
		#bg1{
			z-index:-1;
			background-image: url(../img/background/bg1.jpg);
			background-repeat: no-repeat;/* 方式不重复 */
			background-size: cover;/* 图片大小覆盖整个网页 */
			background-position: bottom;/* 位置底部 */
			
			animation-name: divbg1;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;/* 动画执行次数 无限 */
			animation-duration: 20s;/* 持续时间 */ 
			animation-direction: alternate;/* 是否轮流反复播放 往返执行 */
		}
		#bg2{
			z-index:-2;
			background-image: url(../img/background/bg2.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: bottom;
			animation-name: divbg2;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-duration: 20s;
			animation-direction: alternate;
		}
		#bg3{
			z-index:-3;
			background-image: url(../img/background/bg3.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: bottom;
			
			animation-name: divbg3;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
			animation-duration: 20s;
			animation-direction: alternate;
		}
		
		@keyframes divbg1{
			0%{
				opacity: 1;
			}
			33.333%{
				opacity: 1;
			}
			66.666%{
				opacity: 0;
			}
			99.999%{
				opacity: 0;
			}
			100%{
				opacity: 1;
			}
		}
		@keyframes divbg2{
			0%{
				opacity: 0;
			}
			33.333%{
				opacity: 1;
			}
			66.666%{
				opacity: 1;
			}
			99.999%{
				opacity: 0;
			}
			100%{
				opacity: 0;
			}
		}
		@keyframes divbg3{
			0%{
				opacity: 0;
			}
			33.999%{
				opacity: 0;
			}
			66.666%{
				opacity: 1;
			}
			99.999%{
				opacity: 1;
			}
			100%{
				opacity: 0;
			}
		}